.guild-page {
    opacity: 0;
    transition: all 3s;
    -webkit-transition:all 3s; /* Safari and Chrome */
}

.guild-page .main-pic {
    display: block;
    width: .86rem;
    height: .7rem;
    padding: .93rem 0 .29rem 0;
    margin: 0 auto;
}

.guild-page .title {
    color: #242424;
    font-weight: regular;
    font-size: .2rem;
    line-height: .23rem;
    letter-spacing: 0px;
    text-align: center;
}

.guild-page .sub-pic {
    display: block;
    width: 2.02rem;
    height: 1.18rem;
    margin: 1.73rem auto 0 auto;
}

.guild-page .arrow-icon {
    left: 0;
    bottom: .73rem;
    right: 0;
    position: absolute;
    text-align: center;
    color: #73D13D;
    font-size: .16rem;
    font-weight: bold;
    line-height: .16rem;
}
